.container {
    padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      height: 80vh;
      width: 50%;
      background: linear-gradient(175deg,lightblue,darkblue);
      position: relative;
      border-radius: 0px 0px 50px 50px;
      margin-left: 280px;
      position: relative;
  }
  .container h1{
    text-align: center;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
  }
  .main{
    background: linear-gradient(170deg,lightblue,rgb(103, 199, 12));;
    height: 88vh;
  }
  
  .email {
    border-radius: 3px;
      width: 70%;
      height: 7vh;
      margin-top: 150px;
      margin-left: 90px;
      position: absolute;
  }
  .password {
    border-radius: 3px;
      width: 70%;
      height: 7vh;
      margin-top: 225px;
      margin-left: 90px;
      position: absolute;
  }
  
  .createbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 300px;
    margin-left: 180px;
    width: 40%;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  